In [1]:
import numpy as np
import pandas as pd

In [19]:
btc_edges = pd.read_csv('../graph/bitcoin.edgelist', sep=' ', header=None)
btc_undirected = pd.read_csv('../graph/bitcoin-undirected.edgelist', sep=' ', header=None)
btc_edges

          0     1
0         6     2
1         6     5
2         1    15
3         4     3
4        13    16
5        13    10
6         7     5
7         2    21
8         2    20
9        21     2
10       21     1
11       21    10
12       21     8
13       21     3
14       17     3
15       17    23
16       10     1
17       10     6
18       10    21
19       10     8
20       10    25
21       10     2
22       10     3
23        4    26
24       26     4
25        5     1
26        5     6
27        5     7
28        1     5
29        6     4
...     ...   ...
35562  5688  5318
35563  1639  2067
35564  2067  1639
35565  2067  2045
35566   481  1810
35567  5928  1396
35568  3714  3837
35569  1018  2124
35570  2045  5903
35571   361  5449
35572   361  3804
35573  3804   361
35574  3837  3714
35575  1810  5983
35576  5983  1810
35577  5903  2045
35578  2731  4296
35579  3901  2731
35580    41  1052
35581  4608    13
35582  4608  2045
35583  2045  4608
35584    13  4608
35585  1953  5655
35586  1810  4499
35587  4499  1810
35588  2731  3901
35589  2731  4897
35590    13  1128
35591  1128    13

[35592 rows x 2 columns]

In [20]:
btc_undirected

          0     1
0         1     2
1         1     3
2         1     4
3         1     5
4         1     6
5         1     7
6         1     8
7         1     9
8         1    10
9         1    13
10        1    15
11        1    17
12        1    19
13        1    20
14        1    21
15        1    23
16        1    29
17        1    31
18        1    32
19        1    33
20        1    34
21        1    35
22        1    36
23        1    39
24        1    41
25        1    47
26        1    51
27        1    54
28        1    56
29        1    57
...     ...   ...
35562  5971  5960
35563  5972    13
35564  5974    41
35565  5982    33
35566  5982   546
35567  5982  3427
35568  5982  3598
35569  5983    35
35570  5983    51
35571  5983   546
35572  5983  1810
35573  5983  2388
35574  5983  3451
35575  5983  3598
35576  5983  3804
35577  5983  5921
35578  5983  5965
35579  5984    13
35580  5985  3451
35581  5985  5845
35582  5988  4291
35583  5989  3598
35584  5991    33
35585  5993    35
35586  5994  4205
35587  5994  5458
35588  5995    35
35589  5996  5949
35590  5999  3878
35591  6000  6002

[35592 rows x 2 columns]